---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import HeroImage from '../components/HeroImage.astro';
import GiscusComments from '~/components/GiscusComments.astro';

type Props = CollectionEntry<'general'>['data'] |
             CollectionEntry<'tech'>['data'] | 
             CollectionEntry<'photo'>['data'] | 
             CollectionEntry<'bible'>['data'] | 
             CollectionEntry<'language'>['data'];

const { title, description, pubDate, updatedDate, heroImage, frontmatter } = Astro.props as any;
---
<BaseLayout title={title} description={description}>
  <article class="prose lg:prose-xl dark:prose-dark mx-auto">
    <!-- <HeroImage 
      title={frontmatter.title}
      category={frontmatter.category}
      date={new Date(frontmatter.date)}
    />
   -->
    <h1 class="text-4xl font-bold mb-4 text-gray-900 dark:text-gray-300">{title}</h1>
    <div class="flex gap-2 text-gray-500 dark:text-gray-400 mb-8">
      <FormattedDate date={pubDate} />
      {updatedDate && (
        <div>
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )}
    </div>
    <div class="text-gray-800 dark:text-gray-300">
      <slot />
    </div>
    <GiscusComments />
  </article>
</BaseLayout>