---
// src/layouts/BlogPost.astro
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'general'>['data'] |
             CollectionEntry<'tech'>['data'] | 
             CollectionEntry<'photo'>['data'] | 
             CollectionEntry<'bible'>['data'] | 
             CollectionEntry<'language'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---
<BaseLayout title={title} description={description}>
  <article class="prose lg:prose-xl mx-auto">
    {heroImage && (
      <img 
        src={heroImage} 
        alt="" 
        class="w-full h-[400px] object-cover rounded-lg shadow-lg mb-8"
      />
    )}
    <h1 class="text-4xl font-bold mb-4">{title}</h1>
    <div class="flex gap-2 text-gray-500 mb-8">
      <FormattedDate date={pubDate} />
      {updatedDate && (
        <div>
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )}
    </div>
    <slot />
  </article>
</BaseLayout>