---
// src/layouts/BlogPost.astro
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import HeroImage from '../components/HeroImage.astro';
const { frontmatter } = Astro.props;

type Props = CollectionEntry<'general'>['data'] |
             CollectionEntry<'tech'>['data'] | 
             CollectionEntry<'photo'>['data'] | 
             CollectionEntry<'bible'>['data'] | 
             CollectionEntry<'language'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---
<BaseLayout title={title} description={description}>
  <article class="prose lg:prose-xl mx-auto">
    <!-- {heroImage && (
      <img 
        src={heroImage} 
        alt="" 
        class="w-full h-[400px] object-cover rounded-lg shadow-lg mb-8"
      />
    )} -->
    <HeroImage 
      title={frontmatter.title}
      category={frontmatter.category}
      date={new Date(frontmatter.date)}
    />
  
<h1 class="text-4xl font-bold mb-4">{title}</h1>
    <div class="flex gap-2 text-gray-500 mb-8">
      <FormattedDate date={pubDate} />
      {updatedDate && (
        <div>
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )}
    </div>
    <slot />
    <script src="https://giscus.app/client.js"
        data-repo="bvold/frontend"
        data-repo-id="R_kgDONCvMyw"
        data-category="Announcements"
        data-category-id="DIC_kwDONCvMy84CkJwV"
        data-mapping="url"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
  </article>
</BaseLayout>